**[SF-DST] Car Price prediction**

**Прогнозирование стоимости автомобиля по характеристикам**

Команда: 4BI

Члены команды: Икен Шынгысхан, Нурсейт Бекзат, Амангелди Ильяс

1. Импорт всех данных полученных парсером.

In [1]:
import pandas as pd

In [2]:
honda = pd.read_csv('honda.csv')

In [3]:
honda1 = pd.read_csv('honda_1.csv')

In [4]:
toyota = pd.read_csv('toyota.csv')

In [5]:
toyota1 = pd.read_csv('toyota_1.csv')

In [6]:
audi = pd.read_csv('audi.csv')

In [7]:
audi1 = pd.read_csv('audi_1.csv')

In [8]:
mits = pd.read_csv('mitsubishi.csv')

In [9]:
mits1 = pd.read_csv('mitsubishi_1.csv')

In [10]:
bmw = pd.read_csv('bmw.csv')

In [11]:
bmw1 = pd.read_csv('bmw_1.csv')

In [12]:
lexus = pd.read_csv('Lexus.csv')

In [13]:
lexus1 = pd.read_csv('Lexus_1.csv')

In [14]:
nissan = pd.read_csv('nissan.csv')

In [15]:
nissan1 = pd.read_csv('nissan_1.csv')

In [16]:
skoda = pd.read_csv('skoda.csv')

In [17]:
skoda1 = pd.read_csv('skoda_1.csv')

In [18]:
volk = pd.read_csv('volkswagen.csv')

In [19]:
volk1 = pd.read_csv('volkswagen_1.csv')

In [20]:
volvo = pd.read_csv('volvo.csv')

In [21]:
volvo1 = pd.read_csv('volvo_1.csv')

In [22]:
merc = pd.read_csv('mercedes.csv')

In [23]:
merc1 = pd.read_csv('mercedes_1.csv')

In [24]:
inf = pd.read_csv('Infiniti.csv')

In [25]:
inf1 = pd.read_csv('Infiniti_1.csv')

Дальше объеденяем все машины в один датафрейм.

In [26]:
combined = pd.concat([honda, honda1, toyota, toyota1, audi, audi1, mits, mits1, bmw, bmw1, lexus, lexus1, nissan, nissan1, skoda, skoda1, volk, volk1, volvo, volvo1, merc, merc1, inf, inf1], ignore_index=True)

In [27]:
combined = combined.drop_duplicates()  # уберам дубликаты

In [28]:
len(combined) # количество машин в датасете

32628

In [31]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32628 entries, 0 to 34697
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Название     32628 non-null  object
 1   Цена         32628 non-null  object
 2   год выпуска  32628 non-null  int64
 3   Пробег       32628 non-null  object
 4   Кузов        32627 non-null  object
 5   Цвет         32628 non-null  object
 6   Двигатель    32627 non-null  object
 7   Налог        31867 non-null  object
 8   Коробка      32626 non-null  object
 9   Привод       32626 non-null  object
 10  Руль         32628 non-null  object
 11  Состояние    32628 non-null  object
 12  Владельцы    32624 non-null  object
 13  ПТС          32628 non-null  object
 14  Владение     7550 non-null   object
 15  Таможня      32628 non-null  object
 16  VIN          29816 non-null  object
 17  Госномер     17267 non-null  object
 18  url          32628 non-null  object
 19  brand        32628 non-null  object
 20  Обмен        14430 non-null  object
 21  Гарантия     2771 non-null   object
 22  Кузов №      1756 non-null   object
 23  Запас хода   51 non-null     object
dtypes: int64(1), object(23)
memory usage: 6.2+ MB

In [34]:
combined.iloc[2412] # Так как нам мало известно об этой машине, мы решили её удалить

Название                                            Honda Civic
Цена                                                     120000₽
год выпуска                                                 1989
Пробег                                                400 000 км
Кузов                                                        NaN
Цвет                                                 серебристый
Двигатель                                                    NaN
Налог                                                        NaN
Коробка                                                      NaN
Привод                                                       NaN
Руль                                                       Левый
Состояние                                     Не требует ремонта
Владельцы                                            3 или более
ПТС                                                     Оригинал
Владение                                                     NaN
Таможня                                               Растаможен
VIN                                            JHM**************
Госномер                                               ******|21
url            https://auto.ru/cars/used/sale/honda/civic/109...
brand                                                      Honda
Обмен                                                        NaN
Гарантия                                                     NaN
Кузов №                                                      NaN
Запас хода                                                   NaN
Name: 2560, dtype: object

In [35]:
combined.drop(combined.index[2412], inplace=True)

In [38]:
combined.to_csv('asd.csv', index=False)  # Checkpoint (Все машины объедененные в один датасет)

In [39]:
c = pd.read_csv('asd.csv')

In [40]:
c['Двигатель'][2412]

'2.2 л / 200\xa0л.с. / Бензин'

In [41]:
new_arr = [i for i in range(0, 32627)]

In [43]:
combined = combined.reindex(new_arr) # Нужно переиндексировать датафрейм после удаление строки 2412

In [44]:
c['Двигатель'].value_counts()

1.6 л / 110 л.с. / Бензин                                1053
2.0 л / 150 л.с. / Бензин                                 809
3.0 л / 249 л.с. / Дизель                                 734
1.4 л / 150 л.с. / Бензин                                 623
1.6 л / 105 л.с. / Бензин                                 597
                                                         ...
2.0 л / 240 л.с. / Дизель                                   1
4.2 л / 279 л.с. / Бензин                                   1
2.0 л / 165 л.с. / Бензин, газобаллонное оборудование       1
2.4 л / 194 л.с. / Бензин, газобаллонное оборудование       1
4.7 л / 275 л.с. / Бензин, газобаллонное оборудование       1
Name: Двигатель, Length: 1341, dtype: int64

In [45]:
for i in c['Двигатель'].apply(lambda x: x.split(' / ', 2)): 
    if len(i) < 3:
        print(i)

[', газобаллонное оборудование']

In [47]:
c[c['Двигатель'] == ', газобаллонное оборудование'] # У машины с индексом 898 проблемы с описанием двигателя и нет некоторых данных

,Название,Цена,год выпуска,Пробег,Кузов,Цвет,Двигатель,Налог,Коробка,Привод,...,Владение,Таможня,VIN,Госномер,url,brand,Обмен,Гарантия,Кузов №,Запас хода
898,Honda Civic VII Рестайлинг,225000₽,2003,320 000 км,седан,бежевый,", газобаллонное оборудование",NaN,NaN,NaN,...,NaN,Растаможен,JHM**************,NaN,https://auto.ru/cars/used/sale/honda/civic/105...,Honda,Рассмотрю варианты,NaN,NaN,NaN

In [48]:
c.drop(combined.index[898], inplace=True) # Её мы тоже удаляем

In [51]:
c.to_csv('asd.csv', index=False) # Ещё один чекпоинт

In [75]:
c = pd.read_csv('asd.csv')

Нужно поделить столбец "Двигатель" на такие же столбцы как в test.csv

In [76]:
c.insert(loc = 7, 
          column = 'engineDisplacement', 
          value = c['Двигатель'].apply(lambda x: x.split(' / ', 1)[0]))

In [77]:
c.insert(loc = 8, 
          column = 'enginePower', 
          value = c['Двигатель'].apply(lambda x: x.split(' / ', 2)[1]))

In [78]:
c.insert(loc = 9, 
          column = 'fuelType', 
          value = c['Двигатель'].apply(lambda x: x.split(' / ', 3)[2]))

#### Далее начинается предобработка

In [79]:
c['Цена'].head() # Нужно убрать валюту и перевести в int

0      1099000₽
1      1290000₽
2       620000₽
3    от 372240₽
4       725000₽
Name: Цена, dtype: object

In [80]:
c['Цена'] = c['Цена'].apply(lambda x: x[:-1])

In [81]:
c['Цена'] = c['Цена'].apply(lambda x: x[3:] if ('от' in x) else x)

In [82]:
c['Цена'] = c['Цена'].apply(lambda x: int(x))

In [83]:
import re

In [84]:
c['Пробег'] = c['Пробег'].apply(lambda x: x[:-3])

In [85]:
c['Пробег'] = c['Пробег'].apply(lambda x: int(re.sub(r'(\d)\s+(\d)', r'\1\2', x)))

In [86]:
c['engineDisplacement'] = c['engineDisplacement'].apply(lambda x: float(x[:-5]) if 'л.с.' in x else float(x[:-2]))

In [87]:
c['enginePower'] = c['enginePower'].apply(lambda x: float(x[:-4]) if 'кВт' in x else float(x[:-5]))

In [88]:
c['model_name'] = c['url'].apply(lambda x: x.split('/')[7])

In [89]:
c = c.rename({"Кузов":"bodyType","Марка":"brand", "Цвет": "color", "Пробег": "mileage", "год выпуска": "producationDate", "Model": "brand"}, axis='columns')

#### Теперь нужно создать датафрейм у которого порядок и название столбцов будет таким же как в test.csv

In [90]:
df = pd.DataFrame(c['bodyType'])

In [91]:
df['brand'] = c['brand']

In [92]:
df['color'] = c['color']

In [93]:
df['engineDisplacement'] = c['engineDisplacement']

In [94]:
df['enginePower'] = c['enginePower']

In [95]:
df['fuelType'] = c['fuelType']

In [96]:
df['mileage'] = c['mileage']

In [97]:
df['model_name'] = c['model_name']

In [98]:
df['productionDate'] = c['producationDate']

In [99]:
df['vehicleTransmission'] = c['Коробка']

In [100]:
df['Владельцы'] = c['Владельцы']

In [101]:
df['Владение'] = c['Владение']

In [102]:
df['ПТС'] = c['ПТС']

In [103]:
df['Привод'] = c['Привод']

In [104]:
df['Руль'] = c['Руль']

In [105]:
df['Состояние'] = c['Состояние']

In [106]:
df['Таможня'] = c['Таможня']

In [107]:
df['Цена'] = c['Цена']

In [108]:
df.to_csv('kaggle_cars.csv', index=False)

In [109]:
df = pd.read_csv('kaggle_cars.csv')

In [126]:
test = pd.read_csv('test.csv')

Импортируем test.csv и удаляем не нужные столбцы (некоторых столбцов нет в запарсенных данных)

In [127]:
test = test.drop('car_url', axis = 1)
test = test.drop('complectation_dict', axis = 1)
test = test.drop('description', axis = 1)
test = test.drop('equipment_dict', axis = 1)
test = test.drop('vehicleConfiguration', axis = 1)
test = test.drop('vendor', axis = 1)
test = test.drop('image', axis = 1)
test = test.drop('model_info', axis = 1)
test = test.drop('name', axis = 1)
test = test.drop('parsing_unixtime', axis = 1)
test = test.drop('super_gen', axis = 1)
test = test.drop('numberOfDoors', axis = 1)
test = test.drop('priceCurrency', axis = 1)
test = test.drop('modelDate', axis = 1)

С тестом делаем такую же предобработку как ранее

In [128]:
test['engineDisplacement'] = test['engineDisplacement'].apply(lambda x: x[:-4] if 'LTR' in x else x)

In [129]:
test['engineDisplacement'] = test['engineDisplacement'].apply(lambda x: float(x) if x != '' in x else 0)

In [134]:
test[test['engineDisplacement']==0].count() # Видим что есть объем у которого значение ноль

bodyType               55
brand                  55
color                  55
engineDisplacement     55
enginePower            55
fuelType               55
mileage                55
model_name             55
productionDate         55
sell_id                55
vehicleTransmission    55
Владельцы              55
Владение               33
ПТС                    55
Привод                 55
Руль                   55
Состояние              55
Таможня                55
dtype: int64

In [120]:
test['engineDisplacement'].mean()

2.402254511906894

Заменим пустые значение в объеме на среднее значение

In [121]:
test['engineDisplacement'] = test['engineDisplacement'].apply(lambda x: float(2.4) if x == 0 else x)

In [135]:
test['enginePower'] = test['enginePower'].apply(lambda x: float(x[:-4]) if 'N12' in x else (x))

In [136]:
test = test.drop('sell_id', axis = 1)

In [137]:
test.to_csv('test1.csv')

In [138]:
test['label'] = 1

In [139]:
df = df.iloc[:, :-1]

In [140]:
df['label'] = 0

Объеденим наши данные и тест

In [141]:
combined = pd.concat([df, test], ignore_index=True)

In [142]:
combined.head()

,bodyType,brand,color,engineDisplacement,enginePower,fuelType,mileage,model_name,productionDate,vehicleTransmission,Владельцы,Владение,ПТС,Привод,Руль,Состояние,Таможня,label
0,седан,Honda,белый,2.4,180.0,Бензин,100503,accord,2013,автоматическая,1 владелец,6 лет и 9 месяцев,Оригинал,передний,Левый,Не требует ремонта,Растаможен,0
1,хэтчбек 5 дв.,Honda,белый,1.5,110.0,Гибрид,41000,fit,2015,роботизированная,1 владелец,NaN,Оригинал,передний,Правый,Не требует ремонта,Растаможен,0
2,седан,Honda,чёрный,2.4,190.0,Бензин,220000,accord,2007,механическая,1 владелец,NaN,Оригинал,передний,Левый,Не требует ремонта,Растаможен,0
3,компактвэн,Honda,чёрный,2.0,150.0,Бензин,264234,fr_v,2005,механическая,3 или более,NaN,Оригинал,передний,Левый,Не требует ремонта,Растаможен,0
4,внедорожник 5 дв.,Honda,серый,2.0,150.0,Бензин,193554,cr_v,2008,механическая,2 владельца,NaN,Оригинал,полный,Левый,Не требует ремонта,Растаможен,0

In [144]:
from sklearn.preprocessing import LabelEncoder # Импортируем LabelEncoder для работы с категориальными данными

In [146]:
combined['ПТС'] = combined['ПТС'].fillna('Оригинал') # Заполним пустые значения в ПТС самым распростронённым

#### Преобразуем категориальные данные с помощью LabelEncoder

In [147]:
combined['Привод'] = pd.Series(LabelEncoder().fit_transform(combined['Привод']))

In [148]:
combined['ПТС'] = pd.Series(LabelEncoder().fit_transform(combined['ПТС']))

In [149]:
combined['Состояние'] = pd.Series(LabelEncoder().fit_transform(combined['Состояние']))

In [150]:
combined['Руль'] = pd.Series(LabelEncoder().fit_transform(combined['Руль']))

In [151]:
combined['Таможня'] = pd.Series(LabelEncoder().fit_transform(combined['Таможня']))

In [152]:
import re

In [153]:
combined['bodyType'] = combined['bodyType'].apply(lambda x: (re.match(r'\w+', x)).group())

#### В наших данных первая буква в fuelType записаны с большой буквы. Нужны сделать так чтобы все были одинаковые

In [154]:
combined['fuelType'] = combined['fuelType'].apply(lambda x: 'бензин' if x == 'Бензин' else x)
combined['fuelType'] = combined['fuelType'].apply(lambda x: 'дизель' if x == 'Дизель' else x)
combined['fuelType'] = combined['fuelType'].apply(lambda x: 'гибрид' if x == 'Гибрид' else x)

In [155]:
combined['fuelType'] = combined['fuelType'].apply(lambda x: 'газ' if x == 'Бензин, газобаллонное оборудование' else x)

In [156]:
combined['fuelType'] = combined['fuelType'].apply(lambda x: 'газ' if x == 'Газ, газобаллонное оборудование' else x)

In [157]:
combined['fuelType'] = combined['fuelType'].apply(lambda x: 'газ' if x == 'Гибрид, газобаллонное оборудование' else x)

In [158]:
combined['fuelType'] = combined['fuelType'].apply(lambda x: 'электро' if x == 'Электро' else x)

In [159]:
combined['fuelType'] = combined['fuelType'].apply(lambda x: 'газ' if x == 'Газ' else x)

In [160]:
combined['brand'] = combined['brand'].apply(lambda x: x.lower())

In [161]:
combined['brand'] = combined['brand'].apply(lambda x: 'mercedes' if x == 'mercedes-benz' else x)

In [162]:
combined['brand'].value_counts()

bmw           7373
volkswagen    7211
nissan        7188
toyota        6613
mercedes      6334
audi          6328
mitsubishi    5766
skoda         5584
honda         4589
volvo         4085
lexus         3679
infiniti      2562
Name: brand, dtype: int64

In [163]:
combined['model_name'].value_counts()

OCTAVIA        1418
octavia        1142
5ER            1026
rx             1014
LANCER          855
               ...
CITY              1
carina_ed         1
n_box_slash       1
200SX             1
LM                1
Name: model_name, Length: 1073, dtype: int64

In [164]:
combined['model_name'] = combined['model_name'].apply(lambda x: x.lower())

In [165]:
combined['bodyType'] = pd.Series(LabelEncoder().fit_transform(combined['bodyType']))

In [166]:
combined['color'] = pd.Series(LabelEncoder().fit_transform(combined['color']))

In [167]:
combined['brand'] = pd.Series(LabelEncoder().fit_transform(combined['brand']))

In [168]:
combined['fuelType'] = pd.Series(LabelEncoder().fit_transform(combined['fuelType']))

In [169]:
combined['model_name'] = pd.Series(LabelEncoder().fit_transform(combined['model_name']))

In [170]:
combined['vehicleTransmission'] = pd.Series(LabelEncoder().fit_transform(combined['vehicleTransmission']))

In [171]:
import numpy as np

#### Заметили что если преобразовать некоторые столбцы в log, то МАРЕ уменьшается

In [172]:
combined['mileage'] = np.log(combined['mileage'])

In [173]:
combined['engineDisplacement'] = np.log(combined['engineDisplacement'])

C:\anaconda\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [174]:
combined['enginePower'] = np.log(combined['enginePower'])

In [175]:
combined = combined.drop('Владельцы', axis = 1)
combined = combined.drop('Владение', axis = 1)

In [176]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67312 entries, 0 to 67311
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bodyType             67312 non-null  int32
 1   brand                67312 non-null  int32
 2   color                67312 non-null  int32
 3   engineDisplacement   67312 non-null  float64
 4   enginePower          67312 non-null  float64
 5   fuelType             67312 non-null  int32
 6   mileage              67312 non-null  float64
 7   model_name           67312 non-null  int32
 8   productionDate       67312 non-null  int64
 9   vehicleTransmission  67312 non-null  int32
 10  ПТС                  67312 non-null  int32
 11  Привод               67312 non-null  int32
 12  Руль                 67312 non-null  int32
 13  Состояние            67312 non-null  int32
 14  Таможня              67312 non-null  int32
 15  label                67312 non-null  int64
dtypes: float64(3), int32(11), int64(2)
memory usage: 5.4 MB

In [177]:
df1 = pd.read_csv('kaggle_cars.csv')

#### Разделим на train и test

In [178]:
Y_train = pd.DataFrame(df1['Цена'], columns=['Цена'])

In [179]:
Y_train['Цена'] = Y_train['Цена'].apply(lambda x: int((re.search(r'\d+', str(x))).group()))

In [180]:
Y_train['Цена'] = np.log(Y_train['Цена'])

In [181]:
X_test = combined[combined['label'] == 1].drop('label', axis = 1)
X_train = combined[combined['label'] == 0].drop('label', axis = 1)

#### На всяки случай запишем разделение на train и test

In [182]:
X_train.to_csv('x_train.csv', index=False)

In [183]:
X_test.to_csv('x_test.csv', index=False)

In [184]:
Y_train.to_csv('y_train.csv', index=False)

In [185]:
X_train = pd.read_csv('x_train.csv')
X_test = pd.read_csv('x_test.csv')
Y_train = pd.read_csv('y_train.csv')

#### Мы применяли разные алгоритмы с разными параметрами на валидационных данных. В итоге пришли к тому что RandomForestRegressor справляется лучше всех.

In [187]:
from sklearn.ensemble import RandomForestRegressor

In [188]:
model = RandomForestRegressor(n_estimators=1000, max_depth=17, random_state=42)

In [60]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=16, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [61]:
pred = model.predict(X_test)

In [62]:
pred = np.exp(pred) # преобразуем в нормальный вид

In [63]:
pred

array([ 655539.24468944,  997580.97647365,  827609.824124  , ...,
        247847.6397321 , 1282687.17333679, 1074431.04308822])

#### Submission

In [135]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission['price'] = pred
sample_submission['price'] = sample_submission['price'].fillna(sample_submission['price'].mean())
sample_submission.to_csv(f'submission_14.csv', index=False)